@import 'compass/css3';
@import 'animation';

/* Base layout - centres whole scene vertically in window */
html,
body {
	width: 100%;
	height: 100%;
	font-family: 'Buenard', serif;
}
html {
	display: table;
	background: #0c1117;
}
body {
	display: table-row;
	vertical-align: middle;
}

/* Image preloader */
.preload {
	position: absolute;
	left: -9999px;
}

/* Scene container */
.scene {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: url('../img/loading.gif') 50% 50% no-repeat;
	
	.gate, .keyb, .msg {
		opacity: 0;
		@include transition(opacity 1s);
	}
	
	&.is-loaded {
		background: none;
	
		.gate, .keyb, .msg {
			opacity: 1;
		}
	}
}

/* Keyboard input widget */
.keyb {
	position: absolute;
	left: -9999px;
	opacity: 0;
	@include transition(opacity 2.5s);
}
.keyb.is-shown {
	position: static;
	left: auto;
	opacity: 1;
}
.keyb input {
	border: none;
	background: none;
	color: #82e4f1;
	text-shadow: 0 0 10px #fff;
	box-shadow: 0 5px 5px -6px #82e4f1;
	font-family: inherit;
	font-size: inherit;
	text-align: center;
}

/* Instructions/error area */
.msg {
	width: 30em;
	margin: 1em auto;
	color: #82e4f1;
	
	text-shadow: 0 0 10px #fff;
	
	opacity: 0;
	@include transition(opacity 0.75s);
}
.msg a {
	color: #82e4f1;
	text-decoration: none;
	@include transition(text-shadow 0.5s);
}
.msg strong,
.msg a:hover {
	text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}
.msg.is-shown {
	opacity: 1;
}

/* Gate */
.gate {
	display: inline-block;
	position: relative;
	width: 324px;
	height: 463px;
	overflow: hidden;
	@include perspective(1000);
	background: url('http://aviary.itsravenous.com/moria/img/gate.png') no-repeat;
	opacity: 0.5;
	@include transition(opacity 2s);
}
/* Gate ready state */
.is-ready .gate {
	opacity: 1;
	cursor: pointer;
}

/* Prize behind doors */
.gate .prize {
	position: absolute;
	left: 88px;
    top: 160px;
    width: 160px;
    opacity: 0;
    @include animation(hover 2s infinite);
    @include animation-timing-function(ease-in-out);
}
/* Fade in when doors open */
.gate.is-open .prize {
	opacity: 1;
}
/* 'Hovering' animation for prize */
@include keyframes(hover)
{
	0%   { @include transform(translate3d(0, 10px, 0)); }
	50%  { @include transform(translate3d(0, -10px, 0)); }
	100%  { @include transform(translate3d(0, 10px, 0)); }
}
  
/* Gate doors */  
.gate-l,
.gate-r {
	position: relative;
	float: left;
	width: 162px;
	height: 463px;
	background: url('http://aviary.itsravenous.com/moria/img/doors.png') no-repeat;
	@include transition(transform 2s ease-in-out);
}
.gate-r {
	background-position: 100%;
}
/* Closed state */
.gate-l {
	@include transform-origin(68px 0);
}
.gate-r {
	@include transform-origin(104px 0);
}
/* Open state */
.csstransforms3d {
	.gate.is-open {
		.gate-l {
			@include transform(rotate3d(0, 1, 0, -120deg));
		}
		.gate-r {
			@include transform(rotate3d(0, 1, 0, 120deg));
		}
	}
}
/* 2d transform fallback*/
.no-csstransforms3d {
	.is-open {
		.gate-l,
		.gate-r {
			@include transform(scaleX(-1));
		}
	}
}
